<ion-view view-title="张三">
  <ion-content class="padding">

    <div>
      <a  class="item-avatar item item-button-right" href="#/tab/dash/user">
        <img ng-src="img/adam.jpg">
        <h2>张三</h2>
        <p>公司职员</p>
        <i class="button">关注</i>
      </a>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        1123
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-heart"></i>
        1123
      </a>


    </div>

    <div class="list card">
      <ion-list>
        <ion-item class="item-icon-right">
          他关注的用户
          <i class="icon ion-chevron-right ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          他关注的话题
          <i class="icon ion-chevron-right ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          他关注的类别
          <i class="icon ion-chevron-right ion-ios-arrow-right"></i>
        </ion-item>
          <ion-item class="item-icon-right">
          他上传的经历
          <i class="icon ion-chevron-right ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>





  </ion-content>
</ion-view>
